body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: grey;
  border-bottom: 1px solid #ccc;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

nav {
  display: flex;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.nav-links a:hover {
  color: #007bff;
}

.content {
  padding: 25px;
}


.carousel-image {
  width: 100%;
  height: 300px; /* Adjust height as needed */
  object-fit: cover;
}


.carousel-container {
  position: relative;
  padding: 20px;
}

.carousel-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  object-fit: cover;
}

.slick-dots {
  bottom: -20px; /* Adjust this value to reduce or increase the space */
}

.appFooter {
  padding: 10px 0;
  background-color: #f0f0f0;
  text-align: center;
}

.appFooter a {
  color: white !important; /* This makes the text white */
  margin: 0 10px;
}

.appFooter a:hover {
  color: blue; /* This makes the text light grey on hover */
}





